examples/ico/2pi5 baked r constraint/*.p
examples/ico/3pi5/*.p
ffmpeg_ex
second.py
.vscode/settings.json
examples/dynamics/a1.p
examples/dynamics/a2.p
examples/dynamics/a3.p
examples/dynamics/a4.p
examples/dynamics/flipflat.mp4
examples/dynamics/ico.mp4
examples/dynamics/ico3.mp4
examples/dynamics/output01.mp4
examples/dynamics/stiff1e3.mp4
examples/dynamics/test.mp4
examples/flat/__pycache__/__init__.cpython-38.pyc
examples/flat/__pycache__/utils_flat.cpython-38.pyc
examples/flat/landscape/*.p
examples/flat/landscape/landscape_ico.png
examples/flat/sheetplots/bump_graph.png
examples/flat/sheetplots/bump0.80_0.80_1.52_10_graph.png
examples/flat/sheetplots/bump0.80_0.80_1.52_10_plot.png
examples/flat/sheetplots/bump0.95_0.80_1.52_10_graph.png
examples/flat/sheetplots/bump0.95_0.80_1.52_10_plot.png
examples/flat/sheetplots/hex_graph.png
examples/flat/sheetplots/hex0.80_0.80_1.52_10_graph.png
examples/flat/sheetplots/hex0.80_0.80_1.52_10_plot.png
examples/flat/sheetplots/hex0.95_0.80_1.52_10_graph.png
examples/flat/sheetplots/hex0.95_0.80_1.52_10_plot.png
examples/flat/sheetplots/hexbig_graph.png
examples/flat/sheetplots/hexbig0.80_0.80_1.35_10_graph.png
examples/flat/sheetplots/hexbig0.80_0.80_1.35_10_plot.png
examples/flat/sheetplots/hexbig0.95_0.80_1.35_10_graph.png
examples/flat/sheetplots/hexbig0.95_0.80_1.35_10_plot.png
examples/flat/sheetplots/kink_graph.png
examples/flat/sheetplots/kink0.80_0.80_1.52_10_graph.png
examples/flat/sheetplots/kink0.80_0.80_1.52_10_plot.png
examples/flat/sheetplots/kink0.95_0.80_1.52_10_graph.png
examples/flat/sheetplots/kink0.95_0.80_1.52_10_plot.png
examples/flat/landscape/icotr0.45_0.64_0.50_10.p
examples/ico/plots/final.png
examples/ico/plots/init.png
examples/sphere/__pycache__/random.cpython-38.pyc
examples/sphere/plots/init.png
venv
tests/__pycache__
*/__pycache__
*.egg-info
examples/flat/landscape/landscape.png
tests/template.py
examples/grad/final.png
examples/grad/init.png
examples/ico/landscape/*.p
hex_graph.png
examples/sphere/plots/final.png
examples/dynamics
examples/grad/*.png